<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj skladnik</title>
</head>
<body>


<h1>Dodaj skladnik</h1>

<form action="/" method="post">

Podaj nazwe produktu: <input type="text" name="name"> <br/>
Podaj ilosc (szt): <input type="number" name="amount"><br/>
Podaj ilosc bialka (na 100g): <input type="text" name="protein"><br/>
Podaj ilosc tluszczu (na 100g): <input type="text" name="fat"><br/>
Podaj ilosc wegli (na 100g): <input type="text" name="carbs"><br/>
<input type="submit" value="Wyslij"> <br/>

<a href="/Add-Receipe">Dodaj przepis</a> <br/>
<a href="/Choose-Receipe">Sprawdz co mozesz ugotowac</a>


</body>
</html>